@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap");

* {
  font-family: "Roboto";
}
.content img {
  width: 150px;
}

/*  HEADER */

header input {
  width: 600px;
  height: 40px;
  background-color: rgb(233, 232, 232);
  color: rgb(159, 155, 155);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.signup-button input {
  margin-left: 20px;
}

button {
  background-color: white;
  color: #2cb1ba;
  border: solid 1px #2cb1ba;
  width: 120px;
  height: 28px;
  margin-left: 20px;
  border-radius: 5px;
}

.deconnexion {
  color: white;
  background-color: rgb(243, 85, 85);
  border: none;
}

.sellButton {
  color: white;
  background-color: #2cb1ba;
  border-radius: 5px;
  width: 120px;
  height: 28px;
  border: none;
  margin-left: 30px;
}

.home-hero-forme {
  bottom: 0px;
  height: 80px;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.heropics {
  background-image: url(https://lereacteur-vinted.netlify.app/static/media/hero.2c66d85a1335550c4518.jpg);
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}

.block {
  display: block;
  background-color: white;
  border-radius: 5px;
  border: solid 1px rgb(232, 232, 232);
  width: 360px;
  height: 220px;
  position: absolute;
  top: 100px;
  left: 120px;
  padding: 25px;
}

h1 {
  font-family: "Roboto";
  font-size: 34px;
  margin-top: 30px;
  margin-right: 30px;
}

.startSell {
  border: solid 1px #2cb1ba;
  background-color: #2cb1ba;
  color: white;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  font-size: 16px;
}

Header {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 1240px;
  max-height: 60px;
}

.Home {
  margin: 0 auto;
  /* border: solid 1px red; */
  max-width: 1240px;
  max-height: 60px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
}

.child {
  margin-bottom: 10px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

.pictures {
  width: 235px;
  height: 426px;
  object-fit: cover;
}

.owner {
  margin-bottom: 10px;
}

.avatar {
  margin-right: 10px;
  margin-bottom: -5px;
}

.username {
  font-size: 14px;
  color: grey;
  text-decoration: none;
}

.detail-offercard {
  /* border: solid 1px red; */
  color: grey;
  font-size: 14px;
}

/*  DESCRIPTION D'UN ARTICLE */

.key {
  /* border: solid 1px red; */
  /* line-height: 50%; */
  font-size: 14px;
  display: flex;
}

.key-search {
  /* border: solid 1px red; */
  color: grey;
  width: 130px;
}

.key-result {
  display: flex;
}

.prix-article {
  font-size: 22px;
  font-weight: bold;
}

.name-article {
  font-size: 18px;
  font-weight: bold;
}

.desc-article {
  color: grey;
  font-size: 16px;
  text-align: start;
}

.avatar-article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.offer {
  background-color: #eaedee;
}

.offer-container {
  font-family: "Roboto";
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  justify-content: space-around;
  padding-top: 40px;
}

.pics img {
  object-fit: cover;
  width: 450px;
  height: 605px;
  margin-bottom: 50px;
}

.offer-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
  margin-bottom: 50px;
}

.offer-info button {
  background: #2cb1ba;
  border: 1px solid #2cb1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
}

/*  FORMULAIRE LOGIN AND SIGNUP */

.formulaire {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.newsletter {
  margin-top: 25px;
  display: flex;
  width: 200px;
  margin-bottom: 30px;
}

.submit {
  background: #2cb1ba;
  border: 1px solid #2cb1ba;
  color: white;
  width: 275px;
  height: 45px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.forms input {
  width: 275px;
  border: none;
  background-color: white;
  margin-bottom: 20px;
  padding-bottom: 5px;
  color: rgb(184, 182, 182);
  font-size: 16px;
  border-bottom: solid 1px rgb(235, 168, 168);
}

.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-newsletter {
  font-size: 12px;
  color: grey;
  text-align: center;
  width: 275px;
  margin-bottom: 20px;
  text-align: start;
  line-height: 120%;
}

.formulaire a {
  color: #2cb1ba;
  font-size: 12px;
  justify-content: center;
  padding-top: 10px;
  display: flex;
}

/*  VENDRE ARTICLES */

.container {
  background-color: rgb(228, 228, 228);
}

h3 {
  font-family: "Roboto";
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.publish {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.sell-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: solid rgb(203, 203, 203) 1px;
  max-width: 1240px;
  height: 300px;
  margin-bottom: 30px;
  outline-offset: -25px;
  outline: 1px dashed rgb(182, 177, 177);
}

.first-description,
.second-description,
.third-description {
  font-family: "Roboto";
  border: solid rgb(203, 203, 203) 1px;
  background-color: white;
  max-width: 1240px;
  margin-bottom: 30px;
  /* border: none; */
}

.article {
  display: flex;
  /* border: solid red 1px; */
  justify-content: space-around;
  font-family: "Roboto";
  border-bottom: solid 1px rgb(212, 212, 212);
}

.textarea-article {
  width: 620px;
  margin: 20px 15px 50px 15px;
  /* border: solid red 1px; */
  font-display: flex;
  justify-content: flex-end;
  border: none;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.article input {
  width: 620px;
  margin: 20px 15px 50px 15px;
  /* border: solid red 1px; */
  font-display: flex;
  justify-content: flex-end;
  border: none;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.article label {
  margin: 20px 15px 50px 15px;
  /* border: solid red 1px; */
  width: 620px;
  display: flex;
  justify-content: flex-start;
}

.price-article label,
.exchange-article p,
.exchange-article input {
  margin: 20px 15px 50px 15px;
  width: 620px;
  display: flex;
  justify-content: flex-start;
}

.price-article input {
  width: 620px;
  margin: 20px 15px 50px 15px;
  /* border: solid red 1px; */
  font-display: flex;
  justify-content: flex-end;
  border: none;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.price-article {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
}

.exchange-article {
  display: flex;
  justify-content: flex-end;
}

input .checkbox-article {
  padding: 0;
  width: 10px;
  display: flex;
  justify-content: flex-end;
}

.add-article {
  display: flex;
  /* border: red solid 1px; */
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 50px;
}

.add-article input {
  width: 100px;
}

input[type="file"] {
  display: none;
}

.picture-article {
  font-family: "Roboto";
  border: 1px solid #ccc;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  color: #2cb1ba;
  border: #2cb1ba 2px solid;
  border-radius: 5px;
}
